/* CSS Document by cc 2017-4-24 shenyang tsc using */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* customs 0424*/
/*welcomeframe*/
#tsc_topframe{
	width:100%; height:100%; position:fixed; z-index:9; top:0; left:0; background-color:#ffffff; 
	}
#logoHead{
	width:100%; height:55%; 	
	background: -webkit-linear-gradient(23deg, #15CDE8, #0286C2); /* Safari 5.1 - 6.0 */
 	background: -o-linear-gradient(23deg, #15CDE8, #0286C2); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(23deg, #15CDE8, #0286C2); /* Firefox 3.6 - 15 */
  	background: linear-gradient(23deg, #15CDE8, #0286C2); /* 标准的语法 */
	}
#logoHead p{
	font-size:14px; font-family:"微软雅黑"; color:#ffffff; line-height:40px; width:100%; text-align:center;
	}	
#logoHead p.en_Logo{
	font-size:10px; font-family:"微软雅黑"; color:#CDF3FF; line-height:15px; width:100%; text-align:center;
	}
#enterPan{
	width:100%; height:35%;
	}
#enterButton{
	width:120px; height:120px; border-radius:64px; border:2px solid #62CCE9; margin-left:-70px; left:50%; position:absolute; margin-top:50px; cursor:pointer; opacity:0.7;
	}
.eb_font{
	font-size:26px; font-family:Arial,"微软雅黑"; width:100%; text-align:center; color:#62CCE9;
	}	
.eb_fontSml{
	font-size:10px; font-family:Arial,"微软雅黑"; width:100%; text-align:center; color:#62CCE9; margin-top:38px;
	}	
#tsc_footerLogo{
	width:100%; height:10%; padding-left:50px;
	}			
#tsc_mainFrame{
	width:100%; height:100%; position:absolute; z-index:8; top:0; left:0; background-color:#f3f3f3;
	}
#tsc_header{
	width:100%; height:60px; position:absolute; top:-60px; left:0; z-index:6; 
	background: -webkit-linear-gradient(23deg, #15CDE8, #0286C2); /* Safari 5.1 - 6.0 */
 	background: -o-linear-gradient(23deg, #15CDE8, #0286C2); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(23deg, #15CDE8, #0286C2); /* Firefox 3.6 - 15 */
  	background: linear-gradient(23deg, #15CDE8, #0286C2); /* 标准的语法 */
	}
#tsc_header img {
	margin-top:5px; margin-left:5px; opacity:0;
	}
#tsc_leftpan{
	 position:absolute; left:-260px; width:260px; top:60px; bottom:0; background-color:#fff;
	}	
#tsc_centermain{
	position:absolute; top:60px; bottom:0; right:0; left:260px; display:none; padding:20px 40px; overflow-y:auto; overflow-x:hidden;
	}
#tsc_footerLogo img{
	opacity:0;
	}
.tsc_barFont{
	font-size:22px; font-family:"微软雅黑"; color:#636363;  line-height:30px; text-indent:20px; border-left:10px solid #0FB6DC; margin:20px 0;	
	}	
#userPan{
	width:98%; height:180px;  border-bottom:1px solid #e9e9e9; margin-left:1%;
	}
#headericon{
	width:70px; height:70px; border-radius:35px; overflow:hidden; position:absolute; margin-top:30px; margin-left:35%; cursor:pointer;
	}
#username{
	padding:5px 20px; border:2px solid #A5F0FC; color:#A5F0FC; font-size:14px; font-family:"微软雅黑"; text-align:center; width:100px; border-radius:8px; position:absolute;  margin-top:120px; margin-left:20%;
	}	
#tsc_menu li{
	width:100%; height:45px; border-bottom:1px solid #f1f1f1; line-height:45px; cursor:pointer; text-indent:50px; color:#636363; font-size:16px; font-family:"微软雅黑";
	}	
#tsc_menu li:hover{
	border-left:5px solid #14CAE6; text-indent:45px; color:#14CAE6;
	}	
#nomalPan{
	width:100%; height:100%; background-color:#fff;
	}

/*新增*/
ul,li{
	list-style:none; padding:0; margin:0; font-family:"微软雅黑";
}
.tscMenu{
	display: block; width: 100%; padding-right: 0;  padding-left: 0; border:1px solid #e3e3e3; background-color:#ffffff; border-bottom:0;  border-top:0;
}
.tscMenu ul{

}
.tscMenu ul li{
	/*font-size:13px; color:#323232; line-height:30px; text-indent:5px; border-bottom:1px solid #e3e3e3;*/
}
.tscMenu ul li ul li:first-child{
	border-top:1px solid #e3e3e3;
}
.tscMenu ul li ul li:last-child{
	border-bottom:0;
}
.tscMenu ul li ul li{
	/*font-size:13px; color:#323232; line-height:30px; text-indent:15px; background-color:#f8f8f8;*/
}
.tscMenu ul li ul li ul li{
	/*font-size:13px; color:#323232; line-height:30px; text-indent:25px;;  background-color:#f3f3f3;*/
}
i{
	margin-right:5px;
}
nav i{
	font-size:12px !important;
}
.closelist{
	display:none;
}
.fr_tsc{
	float:right;
}
.listToggle{
	margin-top:11px; margin-right:10px;
}
	
	
	
	
	
	
	
	
	